@font-face {
    font-family: "myFont";
    src: url(../fonts/AdventPro/AdventPro_ExtraExpanded-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}


.body {
    font-family: "myFont";
    width: 100vw;

    background-color: rgb(255, 213, 251);
}

.header {
    text-align: center;
    background-color: rgb(225, 181, 255);
    width: 100vw;
}

.menu {
    background-color: rgb(252, 192, 229);
}

.menu-list {
    list-style: none;
    margin: 0px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}

.menu-list li {
    display: inline-block;
}

.menu-list li:after {
    content: "|";
    color: brown;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
}

.menu-list a {
    text-decoration: none;
    font-family: "myFont";
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 30px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-list a,
.menu-list a:visited {
    color: brown;

}

.menu-list a:hover {
    color: beige;
}

.menu-list a::before,
.menu-list a::after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 0%;
    bottom: -5%;
    left: 150%;
    background: burlywood;
    transition: .8s;
}

.menu-list a:hover::before,
.menu-list .current:before {
    left: 0;
}

.menu-list>a:hover::after,
.menu-list .current:after {
    left: 0;
}

.task {
    padding-top: 2vw;
    text-align: center;
    width: 90vw;
    padding-left: 5vw;
}

.p-list {
    text-align: start;
    padding-top: 3vw;
}

.p-text {
    text-align: center;
    padding-top: 2vw;
    padding-bottom: 3vw;
}





.result {
    background-color: pink;
    display: grid;
    justify-content: center;
}

h1 {
    font-family: "myFont";
    font-size: 50px;
    line-height: 45px;
    font-weight: 500;
}

h2 {
    font-family: "myFont";
    font-size: 30px;
    line-height: 35px;
    font-weight: 300;
}

h3 {
    font-family: "myFont";
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;
}

p {
    font-family: "myFont";
    font-size: 25px;
    line-height: 30px;
    font-weight: 200;
}

.result>h1 {
    font-family: "myFont";
    font-size: 3vw;
    line-height: 4vw;
    font-weight: 800;
}

.first {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
}

th,
td {
    
    text-align: center;
    padding: 5px;
    border-top: 5px solid indianred;
    border-right: 5px solid indianred;
    border-bottom: 5px solid indianred;
    border-left: 5px solid indianred;
    cursor: pointer;
    width: 65px;
    height: 25px;
}

.table {
    grid-area: 1 ;

}

.button {
    grid-area: 2 ;
    justify-self: end;

    background-color: cornflowerblue;
    font-family: "myFont";
    border: none;
    color: aliceblue;
    padding: 10px;
    margin-top: 35px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 20px;
    transition: all 0.3s ease-out;
    text-align: center;
}

.button:hover {
    background-color: rgb(168, 112, 201);
    cursor: pointer;
}

.highlight {
    background-color: red;
}


.second {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
}

.input_pole{
    border-radius: 8px;
    font-family: "myFont";
    font-size: 15px;
}

.third {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
}

.fourth {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
}

.active {
    background-color: red;
}

.fifth {
    width: 100%;
    padding-top: 3vw;
    padding-bottom: 3vw;
    display: grid;
}

.inp{
    display: none;
    border-color: white;
    width: 65px;
    height: 25px;
    background-color: skyblue;
    
}

@media (max-width: 768px) {
    h1 {
        font-family: "myFont";
        font-size: 30px;
        line-height: 35px;
        font-weight: 500;
    }

    h2 {
        font-family: "myFont";
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
    }

    h3 {
        font-family: "myFont";
        font-size: 25px;
        line-height: 20px;
        font-weight: 800;
    }

    p {
        font-family: "myFont";
        font-size: 18px;
        line-height: 20px;
        font-weight: 200;
    }




    .menu-list {
        padding-top: 0;
    }

    .menu-list li {
        display: block;
    }

    .menu-list li::after {
        content: none;
        font-size: 30px;
    }

    .menu-list a {
        padding: 15px 0 15px;
        margin: 0 30px;
        font-size: 30px;
        line-height: 10px;
    }


    .first {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    th,
    td {
        
        text-align: center;
        padding: 5px;
        border-top: 5px solid indianred;
        border-right: 5px solid indianred;
        border-bottom: 5px solid indianred;
        border-left: 5px solid indianred;
        cursor: pointer;
        width: 35px;
        height: 25px;
    }
    
    .table {
        grid-area: 1 ;
    
    }
    
    .button {
        grid-area: 2 ;
        justify-self: end;
    
        background-color: cornflowerblue;
        font-family: "myFont";
        border: none;
        color: aliceblue;
        padding: 10px;
        margin-top: 35px;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 20px;
        transition: all 0.3s ease-out;
        text-align: center;
    }
    
    .button:hover {
        background-color: rgb(168, 112, 201);
        cursor: pointer;
    }
    
    .highlight {
        background-color: red;
    }
    
    
    .second {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .input_pole{
        border-radius: 8px;
        font-family: "myFont";
        font-size: 15px;
    }
    
    .third {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .fourth {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .active {
        background-color: red;
    }
    
    .fifth {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .inp{
        display: none;
        border-color: white;
        width: 35px;
        height: 25px;
        background-color: skyblue;
        
    }
    
}

@media (max-width: 425px) {

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    h2 {
        font-size: 20px;
        line-height: 35px;
    }

    h3 {
        font-size: 25px;
        line-height: 35px;
    }

    p {
        font-size: 18px;
        line-height: 20px;
    }



    .menu-list {
        padding-top: 0;
    }

    .menu-list li {
        display: block;
    }

    .menu-list li::after {
        content: none;
        font-size: 20px;
    }

    .menu-list a {
        padding: 15px 0 10px;
        margin: 0 30px;
        font-size: 25px;
    }


    .result {
        display: block;
        justify-content: center;
        align-items: top;
    }

    .first {
        width: 100%;
        padding-top: 3vw;
        display: block;
    }

    .first {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    th,
    td {
        
        text-align: center;
        padding: 5px;
        border-top: 5px solid indianred;
        border-right: 5px solid indianred;
        border-bottom: 5px solid indianred;
        border-left: 5px solid indianred;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    
    .table {
        grid-area: 1 ;
    
    }
    
    .button {
        grid-area: 2 ;
        justify-self: end;
    
        background-color: cornflowerblue;
        font-family: "myFont";
        border: none;
        color: aliceblue;
        padding: 10px;
        margin-top: 35px;
        margin-bottom: 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 8px;
        font-size: 20px;
        transition: all 0.3s ease-out;
        text-align: center;
    }
    
    .button:hover {
        background-color: rgb(168, 112, 201);
        cursor: pointer;
    }
    
    .highlight {
        background-color: red;
    }
    
    
    .second {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .input_pole{
        border-radius: 8px;
        font-family: "myFont";
        font-size: 15px;
    }
    
    .third {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .fourth {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .active {
        background-color: red;
    }
    
    .fifth {
        width: 100%;
        padding-top: 3vw;
        padding-bottom: 3vw;
        display: grid;
    }
    
    .inp{
        display: none;
        border-color: white;
        width: 25px;
        height: 25px;
        background-color: skyblue;
        
    }
}